body {
    font-family: Arial, sans-serif;
    margin: 0;
}


.departamento {
    position: relative;
    text-align: center;
    max-width: 430px; /* Ancho máximo del carrusel */
    margin: 0 auto; /* Centrar el carrusel en la pantalla */
}

.carrusel-departamentos {
    display: flex;
    overflow: hidden;
    height: 500px; /* Nuevo alto del carrusel */
}

.carrusel-departamentos img {
    width: auto;
    height: 100%;
    max-width: 100%; /* Las imágenes ocuparán el ancho completo del contenedor */
    margin: 0 auto; /* Centrar la imagen dentro del contenedor */
}

.carrusel-departamentos img.oculta {
    display: none;
}

.servicios {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    background-color: black;
    margin-bottom: 41px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejorar la visibilidad */
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto de transición al pasar el ratón */
    transform: translateY(-50%);
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Cambia el color al pasar el ratón */
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

@media screen and (max-width: 600px) {
    .prev-btn,
    .next-btn {
        font-size: 18px;
    }
}

.carousel-item p {
    position: absolute; /* Hace que el párrafo esté posicionado de manera absoluta */
    bottom: 0; /* Lo posiciona en la parte inferior del contenedor padre */
    left: 0; /* Lo posiciona en el extremo izquierdo del contenedor padre */
    width: 100%; /* Ocupa el 100% del ancho del contenedor padre */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    color: white;
    text-align: center;
    margin: 0; /* Elimina cualquier margen predeterminado */
}
@media (max-width: 768px) {
    .carousel-item p {
        font-size: 14px; /* Ajusta el tamaño del texto para pantallas más pequeñas si es necesario */
        padding: 0px;
    }
}

@media (max-width: 932px) {
    .carousel-item p {
        font-size: 16px; /* Ajusta el tamaño del texto para pantallas medianas si es necesario */
        padding: 0px;

    }
}
/*carrucel principal*/
.espacio {
    height: 753px;
    width: 59%; /* Ancho del 50% del contenedor padre */
    overflow: hidden; /* Asegura que cualquier contenido que se desborde se oculte */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
  }
  
  #carouselExampleAutoplaying {
    height: 100%; /* El carrusel ocupará el 100% de la altura del contenedor padre */
  }
  
  .carousel-inner {
    height: 100%; /* Los elementos internos del carrusel ocuparán el 100% de la altura del contenedor padre */
  }
  
  .carousel-item {
    height: 100%; /* Cada elemento del carrusel ocupará el 100% de la altura del contenedor padre */
  }
  
  .carousel-item img {
    object-fit: cover; /* Asegura que las imágenes se ajusten al tamaño del contenedor sin perder proporciones */
    height: 100%; /* Asegura que las imágenes ocupen el 100% de la altura del contenedor */
  }
  
  @media (max-width: 768px) {
    .espacio {
      width: auto; /* Cambia a ancho completo en pantallas más pequeñas */
      height: auto;
    }
    .carousel-item p {
        font-size: 14px; /* Ajusta el tamaño del texto para pantallas más pequeñas si es necesario */
        padding: 0px;
    }
  }
  @media (max-width: 932px) {
    .espacio {
      width: auto; /* Cambia a ancho completo en pantallas más pequeñas */
      height: auto;
    }
    .carousel-item p {
        font-size: 14px; /* Ajusta el tamaño del texto para pantallas más pequeñas si es necesario */
        padding: 0px;
    }
  }
  @media (max-width: 1025px) {
    .espacio {
      width: auto; /* Cambia a ancho completo en pantallas más pequeñas */
      height: auto;
    }
    .carousel-item p {
        font-size: 14px; /* Ajusta el tamaño del texto para pantallas más pequeñas si es necesario */
        padding: 0px;
    }
  }
  @media (max-width: 1677px) {
    .espacio {
      width: auto; /* Cambia a ancho completo en pantallas más pequeñas */
      height: auto;
    }
    .carousel-item p {
        font-size: 14px; /* Ajusta el tamaño del texto para pantallas más pequeñas si es necesario */
        padding: 0px;
    }
  }
/*informción turistica*/
.información {
    width: 100%;
    max-width: 1098px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.fondo-imagen, .fondo-imagen-1 {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10%;
    text-align: center;
    min-height: 200px;
}

.fondo-imagen::before, .fondo-imagen-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.fondo-imagen {
    background-image: url(./imagenes/principal/salta-plaza-9-julio-1536x1061.webp);
    background-size: contain;
}
.fondo-imagen-1 {
    background-image: url(./imagenes/principal/marron.webp);
    background-size: contain;
}
.fondo-imagen h2, .fondo-imagen-1 h2 {
    font-size: 2em;
    margin-top: 15px;
    color: white;
}

.información p {
    font-size: medium;
}

.información img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}



/* quienes somos*/

.presentación {
    width: 1098px;
    margin: 0 auto;
    text-align: center;           
    padding: 20px;
}

.presentación h1 p {
    font-size: 16px;
    text-align: justify;
    text-align: left;
}

.premios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 71px;
}

.premios img {
    height: 139px;
}

.booking {
    display: flex;
}

.booking img {
    height: 72px;
    padding-right: 199px;
    padding-left: 189px;
}

/* ubicaciones*/
.ubicación {
    display: flex;
    justify-content: center;
}


/*footer*/
.site-footer {
    background-color: #f4f4f4;
    text-align: center;
}

.map-container {
    margin-top: 100px;
}

.social-section {
    margin-top: 27px;
}
.social-section p {
    text-align: left;
}
.social-icons {
    display: flex;
    justify-content: space-between;}
.iconos {
    text-align: justify;
}
iframe {
    overflow: hidden;
}
.social-icons img {
    height: 50px;
}

.social-icons a {
    margin: 0 10px;
}

/* Estilos base para tamaños de pantalla grandes */
#carouselExampleFade {
    max-width: 980px;
    margin: 49px auto;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilos generales para textos y otros elementos */
p {
    font-family: 'Times New Roman', Times, serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

/* Estilos para disposición en columna en pantallas pequeñas */
@media screen and (max-width: 768px) {
    .departamento {
        flex-direction: column;
        text-align: center;
    }

    .carrusel-departamentos {
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    .carrusel-departamentos img {
        width: 100%;
        max-width: 300px;
        height: 100%;
    }
}

/* Media query para pantallas medianas (por ejemplo, tabletas) */
@media screen and (max-width: 480px) {
    #carouselExampleFade {
        max-width: 100%;
    }

    .carousel-inner img {
        height: 200px;
    }

    /* Ajustes para tamaños pequeños */
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    .departamento {
        flex-direction: column;
        text-align: center;
    }

    .carrusel-departamentos {
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    .carrusel-departamentos img {
        width: 100%;
        max-width: 300px;
        height: 100%;
        opacity: 1; /* Ajustar la opacidad en dispositivos móviles */
        filter: contrast(100%); /* Restablecer el filtro en dispositivos móviles */
        transition: none; /* Eliminar la transición en dispositivos móviles */
    }

.footer-content {
    display: flex;
    flex-direction: column;
}
}

/**/
@media (max-width: 767px) {
    .fondo-imagen, .fondo-imagen-1 {
        margin-top: 56px;
    }

    .fondo-imagen h2, .fondo-imagen-1 h2 {
        font-size: 1.5em;
    }
}

/* quienes somos */
@media only screen and (max-width: 768px) {
    .presentación {
        width: 100%;
        padding: 10px;
    }

    .presentación h1 p {
        font-size: 14px;
    }

    .booking {
        display: flex;
        flex-direction: column;
    }
    
    .booking img {
        padding-right: 20px;
        padding-left: 20px;
        margin-bottom: 51px;
    }
}

/*guardar esto para el movil
.carrusel-departamentos {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;

}

.carrusel-departamentos img {
flex:  1 0 auto;
margin:  0 50px;

}